{% extends 'base.html.twig' %}

{% form_theme form ':form:jquery.collection.html.twig' ':form:my-form-theme.html.twig'%}

{% block body %}

{{ render(controller('AppBundle:Navigation:menu')) }}

<div class="container" style="margin-top:75px;">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-3">
			<div class="form_error"></div>
			{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
				{{ form_row(form.naam) }}
				{{ form_row(form.dagen) }}
				<button type="submit" value="save" class="btn btn-primary">Bewaar</button>
				<a href="{{ path('menus') }}" class="btn btn-default">Annuleer</a>
			{{ form_end(form) }}
		</div>
	</div>
</div>


{% endblock %}

{% block javascripts %}

<script src="{{ asset('js/jquery.collection.js') }}"></script>
<script src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>
<script>
$(document).ready(function(){

    $('.daycollection').collection({
        // up: '<a href="#" class="btn btn-default"><span class="glyphicon glyphicon-arrow-up"></span></a>',
        // down: '<a href="#" class="btn btn-default"><span class="glyphicon glyphicon-arrow-down"></span></a>',
        add: '<a href="#" class="btn btn-default"><span class="glyphicon glyphicon-plus-sign"></span></a>',
        // remove: '<a href="#" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span></a>',
        add_at_the_end: true,
        after_add: function(collection, element) {
        	var select2 = collection.find('.select2entity').last();
			select2.select2entity(); 
			return true;
		},
    });
});
</script>
{% endblock %}