{# {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %} #}

<div class="form_error"></div>
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
	{{ form_row(form.naam) }}
	{{ form_row(form.recepten) }}
	
{#
	{{ form_label(form.recepten) }}
	{{ form_errors(form.recepten) }}

	<ul id="recept-fields-list" data-prototype="{{ form_widget(form.recepten.vars.prototype)|e }}">
	{% for receptField in form.recepten %}
		<li>
			{{ form_errors(receptField) }}
			{{ form_widget(receptField) }}
		</li>
	{% endfor %}
	</ul>
	<a href="#" class="btn btn-default btn-xs" id="add-recipe"><span class="glyphicon glyphicon-plus-sign"></span>Voeg een recept toe</a>
#}
	
	
	{{ form_row(form.bewaar) }}
{{ form_end(form) }}

<script src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>
<!-- jQuery library -->
<!-- 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script src="{{ asset('js/jquery-sfPrototypeMan-master/jquery.sfprototypeman.js') }}"></script>

<script>
$(document).ready(function(){

	jQuery().sfPrototypeMan();
	// If you choose to run jQuery UI sortable, sfPrototypeMan will interact with it
	jQuery("#menu_recepten").sortable();

});
</script>
 -->





