{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/shopping.css') }}" />
<link rel="stylesheet" href="{{ asset('vendors/fullcalendar/fullcalendar.css') }}" />
<link rel="stylesheet" href="{{ asset('vendors/fullcalendar/fullcalendar.print.css') }}" type="text/css" media="print"/>
<!-- Bootstrap Datepicker CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.css"/>

{% endblock %}

{% block body %}

	{{ render(controller('AppBundle:Navigation:menu')) }}

	<div class="container" style="margin-top: 75px;">
		<div class="row">
			
			<div class="col-sm-9 col-sm-push-3">
				<div class="row">
					<a href="{{ path('additemtoshoppinglist') }}" class="btn btn-primary" role="button" id="voegitemtoe" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-plus-sign"></span> Voeg item toe</a>
					{% if boodschappenlijst.ingredienten|length > 0 %}
					
					<div class="pull-right">
						<a href="{{ path('wislijst') }}" class="btn btn-default btn-xs" role="button" id="wislijst"><span class="glyphicon glyphicon-erase"></span> Wis boodschappenlijst</a>
						<div class="btn-group">
							<button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-list"></span> Afdelingen</button>
							<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<span class="caret"></span>
								<span class="sr-only">Toggle Dropdown</span>
							</button>
							<ul class="dropdown-menu">
								<li><a href="#" id="showhideafdelingen">Toon afdelingen</a></li>
								<li><a href="{{ path('editafdelingen') }}">Pas volgorde aan</a></li>
							</ul>
						</div>
						<div class="btn-group">
							<button type="button" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-share"></span> Exporteer</button>
							<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<span class="caret"></span>
								<span class="sr-only">Toggle Dropdown</span>
							</button>
							<ul class="dropdown-menu">
								<li><a href="{{ path('topdf') }}">Exporteer naar pdf</a></li>
								<li><a href="{{ path('tocsv') }}">Exporteer naar CSV</a></li>
								<li><a href="{{ path('sendmail') }}" id="sendmail" data-toggle="modal" data-target="#myModal">Verstuur per e-mail</a></li>
							</ul>
						</div>
						<a href="#" class="btn btn-default btn-xs" role="button" id="printlijst"><span class="glyphicon glyphicon-print"></span> Print</a>
						<br><br>
						<div class="pull-right small">
							<a id="showhiderecepten">
								<i class="fa fa-toggle-off fa-lg" aria-hidden="true"></i>&nbsp;Toon recepten
							</a>
						</div>
						<div class="pull-right small">
							<a id="togglemerge">
								<i class="fa fa-toggle-on fa-lg" aria-hidden="true"></i>&nbsp;Voeg ingrediënten samen&nbsp;&nbsp;
							</a>
						</div>
					</div>


					{% for flash_message in app.session.flashBag.get('notice') %}
						<div class="alert alert-success alert-dismissible">
							<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
							{{ flash_message|raw }}
						</div>
					{% endfor %}
				</div>	
					
				<div class="row">	
					<form name="ingredients" method="post" action="boodschappen">
						<div id="lijst-inhoud">
							<div class="col-sm-12">
								<h2>Boodschappenlijst</h2>
							</div>
							<div class="col-sm-12">
								<!-- Adding another div here because of a bug in Safari where columns do not show if column-count is applied to a Bootstrap col -->
								<!-- See https://stackoverflow.com/questions/14148078/safari-column-count-differs-from-firefox-and-chrome -->
								<div id="shoppinglist">
								{% for ao in afdelingenordered %}
								 <h4>{{ ao.afdeling.name }}</h4>
								 <ul class="list-unstyled ingredient-list">
								 {% for ingrbl in ao.afdeling.ingrbl %}
									<li>
										<input type="checkbox" name="ingr{{ ingrbl.id }}" value="{{ ingrbl.id }}">&nbsp;&nbsp;
										<span class="hoeveelheid">
											{% if ingrbl.ingredient.hoeveelheid %}
												{% if ingrbl.ingredient.recept %}
													{{ (0+ingrbl.ingredient.hoeveelheid * (ingrbl.servings/ingrbl.ingredient.recept.personen))|number_format(1,',','.')|trim('0','right')|trim(',','right') }}
												{% else %}
													{{ 0+ingrbl.ingredient.hoeveelheid}}
												{% endif %}
											{% endif %}
										</span> 
										<span class="eenheid">{{ ingrbl.ingredient.eenheid}}</span> 
										<span class="ingredient">{{ ingrbl.ingredient.ingredient}}</span>
										<span class="afdelingselect hidden">
											<select name="select{{ ingrbl.id }}">
												{% for ao in alleafdelingen %}
												<option value="{{ ao.afdeling.id }}" {% if ao.afdeling.name == ingrbl.ingredient.afdeling.name %} selected="selected" {%endif%}>{{ ao.afdeling.name }}</option>
												{% endfor %}
											</select>
										</span>
										{% if ingrbl.ingredient.recept %}
										<span class="recept-titel" style="display: none;">
											<em><small class="text-muted">&nbsp;&nbsp;{{ ingrbl.ingredient.recept.titel }} {{ ingrbl.receptblordered.id }}</small></em>
										</span>
										{% endif %}
									</li>
								 {% endfor %}
								 </ul>
								{% endfor %}
								</div>
							</div>
						</div>
						<input type="submit" class="btn btn-default btn-sm" value="Verwijder gemarkeerde items">
					</form>					
					{% else %}				
					{% for flash_message in app.session.flashBag.get('notice') %}
						<div class="alert alert-success alert-dismissible">
							<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
							{{ flash_message|raw }}
						</div>
					{% endfor %}
					<p>Geen ingrediënten gevonden.</p>
					{% endif %}
				</div>	
			</div> <!-- end div class=col-sm-9 -->

			<div class="col-sm-3 col-sm-pull-9">
				<p>Je boodschappenlijst bevat {{ boodschappenlijst.ingredienten|length }} ingrediënten.</p> 
				{% if recepten|length > 0 %}
				<hr>
				<button type="button" class="btn btn-default" data-toggle="modal" data-target="#myCalModal"><span class="glyphicon glyphicon-calendar"></span>&nbsp;Kalender weergeven</button>
				<hr>
				<form name="date" method="post" action="{{ path('startdate') }}">
					<div class="form-group">
						<label for="startdate">Startdatum:</label>
						<input class="form-control datepicker" type="text" value="{{ startdatum }}" id="startdate" name="startdate" >
						<div id="startdate-error"></div>
					</div>
						<button class="btn btn-default btn-sm" name="submit" type="submit">Stel in</button>
				</form>
				<hr>
				<h3>Geplande recepten:</h3>
				<form name="pers" action="{{ path('boodschappen') }}" method="post">
					<ul class="list-unstyled" id="sortable">
					{% for recept in recepten %}
						<li>
							<a href="{{ path('showrecept', {'id':recept.recept.id}) }}" class="recept-lijst" data-toggle="modal" data-target="#myModal">
							{{ recept.recept.titel }} <span class="recept-titel" style="display: none;">{{recept.id}}</span>
							</a>
							<a href="{{ path('wisrecept', {'id':recept.id}) }}">
							<span class="glyphicon glyphicon-remove"></span>
							</a>
							<p class="small">personen: <input type="number" min="1" max="20" value="{{ recept.servings|default(4) }}" class="personen" name="pers{{recept.id}}"></p>
						</li>
					{% endfor %}
					</ul>
					<div class="form-group">
						<button class="btn btn-default btn-sm" type="submit">Bewaar</button>
					</div>
				</form>
				{% endif %}
			</div> <!-- end div class=col-sm-3 -->
			
		</div> <!-- end div class=row -->
	</div> <!-- end div class=container -->
	
	<!-- myModal -->
	<div id="myModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">
		<div class="modal-content" id="myModalContent">
		Inhoud wordt geladen...
		</div>
	  </div>
	</div>
	<!-- end Modal -->
	
<!-- myCalModal -->
<div id="myCalModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title">Planning</h3>
      </div>
      <div class="modal-body" id="section-to-print">
        <div id="calendar"></div>
      </div>
      <div class="modal-footer">
      	<button type="button" class="btn btn-default hidden-print" id="printCal">Print</button>
      	<button type="button" class="btn btn-default hidden-print" id="saveCal">Bewaar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Sluit</button>
      </div>
    </div>

  </div>
</div>	

{{ render(controller('AppBundle:Navigation:footer')) }}
	
{% endblock %}

{% block javascripts %}
<script src="{{ asset('vendors/fullcalendar/lib/moment.min.js') }}"></script>
<script src="{{ asset('vendors/fullcalendar/fullcalendar.js') }}"></script>
<script src="{{ asset('vendors/fullcalendar/locale/nl-be.js') }}"></script>
<script src="{{ asset('js/shopping.js') }}" type="text/javascript"></script>
<!-- Bootstrap Date-Picker Plugin -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.nl-BE.min.js"></script>
    
{% endblock %}