{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/rating.css') }}" />
	<link rel="stylesheet" href="{{ asset('css/recepten.css') }}"> 
{% endblock %}

{% block body %}
	
	{{ render(controller('AppBundle:Navigation:menu')) }}
  
	<div class="container-fluid" style="margin-top:75px;">
		<div class="row">
			
			<div class="col-sm-10 col-sm-push-2">
				<div class="btn-group">
					<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-plus-sign"></span> Voeg recept toe <span class="caret"></span></button>
					<ul class="dropdown-menu" role="menu">
						<li><a href="{{ path('newrecept') }}" id="addrecipe">Voeg manueel toe...</a></li>
						<li><a href="{{ path('import') }}">Importeer van het web...</a></li>
						<li class="disabled"><a href="#">Importeer uit een bestand...</a></li>
					</ul>
				</div>

				<div class="btn-group btn-group-sm">
					<button id="grid" type="button" class="btn btn-default active"><span class="glyphicon glyphicon-th"></span> Tegels</button>
					<button id="list" type="button" class="btn btn-default"><span class="glyphicon glyphicon-th-list"></span> Lijst</button>
				</div>

				{% if app.user.hasRecepten %}
				<div class="pull-right">
					<a type="button" class="btn btn-default btn-sm" href="{{ path('exportcsv') }}"><i class="fa fa-download"></i>&nbsp;Exporteer als CSV</a>
				</div>
				{% endif %}

				<br><br>
				
				<div id="content">
					
					{% for flash_message in app.session.flashBag.get('notice') %}
						<div class="alert alert-success alert-dismissible">
							<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
							{{ flash_message|raw }}
						</div>
					{% endfor %}

					<div id="gridview">
						{% if recepten|length > 0 %}
							<div id="recepten" class="row equal">
							{% for recept in recepten %}

							  <div class="item col-sm-6 col-md-4 col-lg-3">
								  <div class="thumbnail" data-url="{{ path('showrecept', {'id':recept.id}) }}" class="showrecipe" data-id="{{ recept.id }}" data-toggle="modal" data-target="#myOtherModal">
											{% if recept.fotonaam %}
												{% if recept.fotonaam matches '/^(https|http):\\/\\//' %}
													<img class="img-responsive" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"  data-src="{{ recept.fotonaam }}" alt="{{ recept.titel }}">
													<!-- <img class="img-responsive" src="{{ recept.fotonaam }}" alt="{{ recept.titel }}"> -->
												{% else %}
													<img src="{{ vich_uploader_asset(recept, 'fotoBestand') | imagine_filter('thumb_sm') }}" alt="{{ recept.titel }}" class="img-responsive">
												{% endif %}
											{% else %}
												<img class="" src="{{ asset('images/recepten/default-recipe-big.png') }}" alt="default image">
											{% endif %}
											<div class="rating-overlay">
												{{ recept.rating|rating }}
												{% if recept.getMenus() is not empty %}
													<a tabindex="0" class="btn btn-primary btn-xs menus-popover" role="button" data-toggle="popover" data-container="body" data-trigger="hover" title="Menu's met dit recept:" data-content="{{ recept.getMenus()|join('<br/>') }}" data-html="true"><span class="badge">{{ recept.getMenus()|length }}</span></a>
												{% endif %}
											</div>
											<div class="caption">
											  	<h4>{{ recept.titel }}</h4>
												{% if recept.tags %}
													<p class="small">
													{% for tag in recept.tags %}
														<span class="label label-primary">{{ tag.name }}</span>
													{% endfor %}
													</p>
												{% endif %}	
												<p id="edit-links">
													<a href="{{ path('editform', {'id':recept.id}) }}" class="editrecipe" data-toggle="tooltip" data-placement="auto bottom" title="Bewerk"><span class="glyphicon glyphicon-pencil"></span></a>
													<a href="{{ path('deleterecept', {'id':recept.id, 'page':app.request.query.get('page')}) }}" class="deleterecipe" data-toggle="tooltip" data-placement="auto bottom" title="Verwijder"><span class="glyphicon glyphicon-trash"></span></a>
												</p>
											</div>
								  </div>
							  </div>
							  {% endfor %}
							</div>
						{% else %}
							<div class="alert alert-info">
								<i class="fa fa-info-circle fa-lg" aria-hidden="true"></i>&nbsp;Geen recepten gevonden.
							</div>

							{% if not app.user.hasRecepten %}
								<h3>Hoe kan ik recepten toevoegen?</h3>
								{% include('support/support01-01.html.twig') %}
							{% endif %}

						{% endif %}
					</div>							

					<div id="listview" style="display:none;">
						{% if recepten|length > 0 %}
							<div class="table-responsive"> 
								<table class="table table-hover">
									<thead>
										<tr>
											<th></th>
											<th{% if recepten.isSorted('r.titel') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(recepten, 'Titel', 'r.titel') }}</th>
											<th>{{ knp_pagination_sortable(recepten, 'Gerecht', 'g.name') }}</th>
											<th>{{ knp_pagination_sortable(recepten, 'Keuken', 'k.name') }}</th>
											<th>{{ knp_pagination_sortable(recepten, 'Hoofdingrediënt', 'h.name') }}</th>
											<th>{{ knp_pagination_sortable(recepten, 'Bereidingstijd', 'r.bereidingstijd') }}</th>
											<th>{{ knp_pagination_sortable(recepten, 'Kostprijs', 'r.kostprijs') }}</th>
											<th{% if recepten.isSorted('r.toegevoegdOp') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(recepten, 'Toegevoegd', 'r.toegevoegdOp') }}</th>
											<th>{{ knp_pagination_sortable(recepten, 'Rating', 'r.rating') }}</th>									
										</tr>
									</thead>
									<tbody>
										{% for recept in recepten %}
											<tr class="showrecipe" data-url="{{ path('showrecept', {'id':recept.id}) }}" data-toggle="modal" data-target="#myOtherModal">
												<td>
													<div style="height:50px;">
													{% if recept.fotonaam %}
														{% if recept.fotonaam matches '/^(https|http):\\/\\//' %}
															<img src="{{ recept.fotonaam }}" alt="{{ recept.titel }}" class="img-responsive" style="max-height:100%;">
														{% else %}											
															<img class="" src="{{ vich_uploader_asset(recept, 'fotoBestand') | imagine_filter('thumb_xs') }}" alt="{{ recept.titel }}">
														{% endif %}
													{% else %}
														<img class="" src="{{ asset('images/recepten/default-recipe-big.png') }}" alt="default image" style="max-height:100%;">
													{% endif %}
													</div>
												</td>
												<td>
													{{ recept.titel }}
													<p id="edit-links">
														<a href="{{ path('editform', {'id':recept.id}) }}" class="editrecipe" data-toggle="tooltip" data-placement="auto bottom" title="Bewerk"><span class="glyphicon glyphicon-pencil"></span></a>
														<a href="{{ path('deleterecept', {'id':recept.id}) }}" class="deleterecipe" data-toggle="tooltip" data-placement="auto bottom" title="Verwijder"><span class="glyphicon glyphicon-trash"></span></a>
													</p>													
												</td>
												<td>
													{% if recept.gerecht %} {{ recept.gerecht.name }} {% endif %}
												</td>
												<td>
													{% if recept.keuken %} {{ recept.keuken.name }} {% endif %}
												</td>										
												<td>
													{% if recept.hoofdingredient %} {{ recept.hoofdingredient.name }} {% endif %}
												</td>										
												<td>
													{% if recept.bereidingstijd %} {{ recept.bereidingstijd|date('H:i') }} {% endif %}
												</td>
												<td>
													{{ recept.kostprijs }}
												</td>										
												<td>
													{{ recept.toegevoegdOp|date('d/m/Y') }}
												</td>
												<td>
													{{ recept.rating|rating }}
												</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						{% else %}
							<div class="alert alert-info">
								<i class="fa fa-info-circle fa-lg" aria-hidden="true"></i>&nbsp;Geen recepten gevonden.
							</div>
						{% endif %}	
					</div>

					<div class="navigation text-center">
       					 {{ knp_pagination_render(recepten) }}
    				</div>

				</div>	<!-- end div content -->

			</div> <!-- end div class=col-sm-10 -->

			<div class="col-sm-2 col-sm-pull-10">

				<div class="well well-sm recipe-count">{{ total }} recepten</div>

				{% if app.user.hasRecepten %} {# only show filters if user has any recipes #}
				<form name="filters">
				    <div class="input-group">
						<input type="text" class="form-control" placeholder="Titel of ingrediënt" name="zoek" id="zoek" value="{{ app.request.query.get('zoek') }}">
					    <span class="input-group-btn">
					    	<button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
					    </span>
					</div> <!-- input-group -->

					<h3>Gerecht</h3>
					{% set currentGerecht = app.request.query.get('gerecht') %}

					{% if gerechten %}
						{% for gerecht in gerechten %}
						<div class="checkbox">
						  <label>
						    <input type="checkbox" name="gerecht[]" id="{{ gerecht.id }}" value="{{ gerecht.id }}" {% if gerecht.id in currentGerecht %} checked {% endif %}>
						    {{ gerecht.name }} ({{ gerecht.recepten|length }})
						  </label>
						</div>
						{% endfor %}
					{% else %}
						<p>Geen items gevonden.</p>
					{% endif %}

					<h3>Keuken</h3>
					{% set currentKeuken = app.request.query.get('keuken') %}

					{% if keukens %}
						{% for keuken in keukens %}
						<div class="checkbox">
						  <label>
						    <input type="checkbox" name="keuken[]" id="{{ keuken.id }}" value="{{ keuken.id }}" {% if keuken.id in currentKeuken %} checked {% endif %}>
						    {{ keuken.name }} ({{ keuken.recepten|length }})
						  </label>
						</div>
						{% endfor %}
					{% else %}
						<p>Geen items gevonden.</p>
					{% endif %}

					<h3>Hoofdingrediënt</h3>
					{% set currentMain = app.request.query.get('hoofdingredient') %}

					{% if hoofdingredienten %}
						{% for hoofdingredient in hoofdingredienten %}
						<div class="checkbox">
						  <label>
						    <input type="checkbox" name="hoofdingredient[]" id="{{ hoofdingredient.id }}" value="{{ hoofdingredient.id }}" {% if hoofdingredient.id in currentMain %} checked {% endif %}>
						    {{ hoofdingredient.name }} ({{ hoofdingredient.recepten|length }})
						  </label>
						</div>
						{% endfor %}
					{% else %}
						<p>Geen items gevonden.</p>
					{% endif %}

					<h3>Tags</h3>
					{% set currentTag = app.request.query.get('tag') %}
					{% if tags %}
						{% for tag in tags %}
						<div class="checkbox">
						  <label>
						    <input type="checkbox" name="tag[]" id="{{ tag.id }}" value="{{ tag.id }}" {% if tag.id in currentTag %} checked {% endif %}>
						    {{ tag.name }} ({{ tag.recepten|length }})
						  </label>
						</div>
						{% endfor %}
					{% else %}
						<p>Geen items gevonden.</p>
					{% endif %}

					<h3>Bereidingstijd</h3>
					{% set currentTime = app.request.query.get('bereidingstijd') %}

					{% for key,value in intervals %}
					<div class="checkbox">
					  <label>
					    <input type="checkbox" name="bereidingstijd[]" id="{{ key }}" value="{{ key }}" {% if key in currentTime %} checked {% endif %}>
					    {{ value }}
					  </label>
					</div>
					{% endfor %}

					<h3>Ingrediënten uitsluiten</h3>
					<div class="form-group">
						<label for="zonder">Recepten zonder:</label>
						<input type="text" class="form-control input-sm" name="zonder" id="zonder" value="{{ app.request.query.get('zonder') }}">
						<p class="help-block">Druk op RETURN om in te dienen</p>
					</div>

				</form>
				{% endif %}						
			</div> <!-- end div class= col-sm-2 -->			
			
		</div> <!-- end div class=row -->
	</div> <!-- end div class=container -->
	
	<!-- myModal -->
	<div id="myModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">
		<div class="modal-content" id="myModalContent">
			<div class="text-center">
				<i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
				<span class="sr-only">Loading...</span>
			</div>
		</div>
	  </div>
	</div>
	<!-- end Modal -->
	
	<!-- myOtherModal -->
	<div id="myOtherModal" class="modal fade" role="dialog">
	  <div class="modal-dialog modal-lg">
		<div class="modal-content" id="myOtherModalContent">
			<div class="text-center">
				<i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
				<span class="sr-only">Loading...</span>
			</div>
		</div>
	  </div>
	</div>
	<!-- end Modal -->

{{ render(controller('AppBundle:Navigation:footer')) }}
	
{% endblock %}

{% block javascripts %}
    <script src="//oss.maxcdn.com/jquery.form/3.50/jquery.form.min.js"></script>
	<script src="{{ asset('js/mycustomjs.js') }}"></script>
	<script src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>
	<script src="{{ asset('bundles/starrating/js/rating.js') }}"></script>
	<script src="https://cdn.ckeditor.com/4.6.2/basic/ckeditor.js"></script>
	<!-- Load (external) images after page has loaded -->
	<script>
	window.addEventListener('load', function(){
	    var allimages= document.getElementsByTagName('img');
	    for (var i=0; i<allimages.length; i++) {
	        if (allimages[i].getAttribute('data-src')) {
	            allimages[i].setAttribute('src', allimages[i].getAttribute('data-src'));
	        }
	    }
	}, false);
	</script>
{% endblock %}