<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4 class="modal-title">{{ recept.titel }}</h4>
</div>
<div class="modal-body">
<!-- 	<div class="container"> -->
		<div class="row">
			<div class="col-sm-8 showrecipe-image">
				{% if recept.fotonaam %}
				<img src="{{ vich_uploader_asset(recept, 'fotoBestand') }}" alt="{{ recept.titel }}" class="img-responsive" style="max-height: 250px;"/>
				{% else %}
				<img src="{{ asset('images/recepten/default-recipe-big.png') }}" alt="default image" style="max-height: 250px;">
				{% endif %}
			</div>
			<div class="col-sm-4">
				<p class="small"><a data-toggle="modal" data-target="#myModal" href="{{ path('editform', {'id':recept.id}) }}" id="editrecipe"><span class="glyphicon glyphicon-pencil"></span> Bewerk recept</a></p>
				<p class="small"><a data-toggle="modal" data-target="#myModal" href="{{ path('deleterecept', {'id':recept.id}) }}" id="deleterecipe"><span class="glyphicon glyphicon-trash"></span> Verwijder recept</a></p>
			</div>
		</div><hr>
		<div class="row">
			<div class="col-sm-4">
				<h4>Bereidingstijd</h4>
				{% if recept.bereidingstijd is not null %}
				<p>{{ recept.bereidingstijd | date("G \\u i \\m\\i\\n")}}</p>
				{% endif %}
			</div>
			<div class="col-sm-4">	
				<h4>Kostprijs</h4>
				{% if recept.kostprijs %}
				<p>{{ recept.kostprijs }} p.p.</p>
				{% endif %}
			</div>
			<div class="col-sm-4">
				<h4>Tags</h4>	
				{% if recept.tags %}
					{% for tag in recept.tags %}
					<span class="label label-primary">{{ tag.name }}</span>
					{% endfor %}
				{% endif %}
			</div>
		</div><hr>
		<div class="row">
			<div class="col-sm-12">
				<h4>Beschrijving</h4>
				<p>{{ recept.beschrijving|raw }}</p>
			</div>
		</div><hr>
		<div class="row">
			<div class="col-sm-12">
				<h4>Ingrediënten</h4>
				<ul class="small">
				{% for ingredient in recept.ingredienten %}
				<li>{{ ingredient.hoeveelheid|number_format(2,',','.') }}
				{{ ingredient.eenheid }}
				{{ ingredient.ingredient }}</li>
				{% endfor %}
				</ul>
			</div>
		</div><hr>
		<div class="row">
			<div class="col-sm-12">
				<h4>Bereiding</h4>
				<p>{{ recept.bereidingswijze|raw }}</p>
			</div>
		</div><hr>
		<div class="row">
			<div class="col-sm-4">
				<h4>Type gerecht</h4>
					{% if recept.gerecht %}
						<p>{{ recept.gerecht.name }}</p>
					{% endif %}
			</div>
			<div class="col-sm-4">
				<h4>Keuken</h4>
				{% if recept.keuken %}
					<p>{{ recept.keuken.name }}</p>
				{% endif %}
			</div>
			<div class="col-sm-4">
				<h4>Hoofdingrediënt</h4>
				{% if recept.hoofdingredient %}
					<p>{{ recept.hoofdingredient.name }}</p>
				{% endif %}
			</div>
		</div>
<!-- 	</div> --> <!-- end container -->
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>