{% extends 'base.html.twig' %}

{%block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/index.css') }}">
<link rel="stylesheet" href="{{ asset('css/lightbox.css') }}">
{% endblock %}


{% block body %}
{{ render(controller('AppBundle:Navigation:menu')) }}

<div class="jumbotron">
<div class="jumbotext">
  <div class="row">
  	<div class="col-sm-8 col-sm-offset-2">
  	  <h1 class="logo">Mealplanner. <small>Tijd om te koken</small></h1> 
	  <p><span class="logo">Mealplanner</span> is een online maaltijdplanner waarmee je:</p>
	  <ul>
	  <li>al je recepten kan bewaren in een online kookboek</li>
	  <li>met die recepten menu's kan samenstellen die je later kan hergebruiken</li>
	  <li>in een handomdraai je boodschappenlijst kan aanmaken, of het nu voor één dag is of voor een hele week</li>
	  </ul>
	  <p>Zo spendeer je minder tijd aan boodschappen doen, koop je geen overbodige zaken (en bespaar je dus geld), en hou je meer tijd over om te koken en samen met je familie van het eten te genieten.</p>
	</div>
  </div>
</div>
</div>

<div class="container-fluid">
	<div class="row text-center">
		<div class="col-sm-4 ">
			<h1>1.</h1>
			<h2>Van recept...</h2>
			<img src="{{ asset('images/screenshots/Kookboek.png') }}" class="img-responsive" width="350" style="display:inline; margin-bottom:20px;" alt="">
			<div class="caption">
			<p class="tekst-groot">Verzamel al je recepten in je online Kookboek</p>
			</div>
		</div>
		<div class="col-sm-4">
			<h1>2.</h1>
			<h2>... naar menu...</h2>
			<img src="{{ asset('images/screenshots/Menu.png') }}" class="img-responsive" width="350" style="display:inline; margin-bottom:20px;" alt="">
			<div class="caption">
			<p class="tekst-groot">Stel herbruikbare menu's samen met je recepten. <span class="logo">Mealplanner</span> zet ze voor jou op de planning.</p>
			</div>
		</div>
		<div class="col-sm-4">
			<h1>3.</h1>
			<h2>... naar boodschappenlijst</h2>
			<img src="{{ asset('images/screenshots/Boodschappenlijst.png') }}" class="img-responsive" width="350" style="display:inline; margin-bottom:20px;" alt="">
			<div class="caption">
			<p class="tekst-groot">Genereer je boodschappenlijst met één klik</p>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid bg-grey text-center">
	<h1 class="margin">Kookboek</h1>
	
	<div class="row">
		<div class="col-sm-4">
			<a href="{{ asset('images/screenshots/Kookboek01.png') }}" data-lightbox="kookboek" data-title="Beheer al je recepten op één centrale plaats">
				<img src="{{ asset('images/screenshots/Kookboek01.png') }}" style="width:250px" class="img-thumbnail"/>
			</a>
			<div class="caption">
				<h3>Alles op één plaats</h3>
				<p>Vaarwel aantekeningen in kookboeken, kopietjes van recepten en links naar websites in je favorieten; voortaan beheer je al je recepten netjes op één plaats. Bekijk ze als tegels of in lijstview.</p>
			</div>
		</div>
		<div class="col-sm-4">
			<a href="{{ asset('images/screenshots/Kookboek02.png') }}" data-lightbox="kookboek" data-title="Uitgebreide zoekmogelijkheden">
				<img src="{{ asset('images/screenshots/Kookboek02.png') }}" style="width:250px" class="img-thumbnail"/>
			</a>
			<div class="caption">
				<h3>Wie zoekt...</h3>
				<p>Vind de recepten die je zoekt op titel, soort gerecht, type keuken, hoofdingrediënt, bereidingstijd of allemaal samen. Ook handig als je nog iets over hebt: zoek wat je allemaal nog kan maken met een bepaald ingrediënt.</p>
			</div>
		</div>
		<div class="col-sm-4">
			<a href="{{ asset('images/screenshots/Kookboek03.png') }}" data-lightbox="kookboek" data-title="Makkelijk ingrediënten toevoegen">
				<img src="{{ asset('images/screenshots/Kookboek03.png') }}" style="width:250px" class="img-thumbnail"/>
			</a>
			<div class="caption">
				<h3>Bulkinvoer</h3>
				<p>Ingrediënten toevoegen kon niet eenvoudiger zijn. Tik ze gewoon in in het veld bulkinvoer of kopieer en plak er bestaande lijstjes in. <span class="logo">Mealplanner</span> onderscheidt hoeveelheden en eenheden van ingrediënten en voegt ze één voor één toe.</p>
			</div>
		</div>
	</div> <!-- end of row 1 -->
	
	<div class="row">
		<div class="col-sm-4">
			<a href="{{ asset('images/screenshots/Logos.png') }}" data-lightbox="kookboek" data-title="Importeer recepten van je favoriete sites... en meer">
				<img src="{{ asset('images/screenshots/Logos.png') }}" style="width:250px" class="img-thumbnail"/>
			</a>
			<div class="caption">
				<h3>Importeer van overal</h3>
				<p>Een lekker recept gezien op Smulweb, Dagelijkse Kost of Foody? Met <span class="logo">Mealplanner</span> kan je makkelijk recepten importeren van alle belangrijke Nederlandstalige recepten sites. Daarbovenop ondersteunt <span class="logo">Mealplanner</span> ook nog eens bijna 40 Engelstalige sites.</p><button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal">Overzicht ondersteunde websites.</button>
			</div>
		</div>
		<div class="col-sm-4">
			<a href="{{ asset('images/screenshots/Kookboek07.png') }}" data-lightbox="kookboek" data-title="Importeer terwijl je surft">
				<img src="{{ asset('images/screenshots/Kookboek07.png') }}" style="width:250px" class="img-thumbnail"/>
			</a>
			<div class="caption">
				<h3>Importeer terwijl je surft</h3>
				<p>Met de bladwijzer die je éénmalig aan je bladwijzerbalk toevoegt, kan je recepten van een ondersteunde website importeren terwijl je surft, dus zonder dat je die site hoeft te verlaten.</p>
			</div>
		</div>			
		<div class="col-sm-4">
			<a href="{{ asset('images/screenshots/Kookboek05.png') }}" data-lightbox="kookboek" data-title="Ingrediënten schalen">
				<img src="{{ asset('images/screenshots/Kookboek05.png') }}" style="width:250px" class="img-thumbnail"/>
			</a>
			<div class="caption">
				<h3 >Schalen</h3>
				<p>Schaal de ingrediënten volgens het aantal personen.</p>
			</div>
		</div>
	</div> <!-- end of row 2 -->
	
</div> <!-- end of container Kookboek -->

<div class="container-fluid text-center">
  <h1 class="margin">Menu's</h1>

	<div class="row">
		<div class="col-sm-4">
			<a href="{{ asset('images/screenshots/Menu.png') }}" data-lightbox="menu's" data-title="Stel menu's samen die je kan hergebruiken">
				<img src="{{ asset('images/screenshots/Menu.png') }}" style="width:250px" class="img-thumbnail"/>
			</a>
			<div class="caption">
				<h3>Recycleren is in</h3>
				<p>Waarom zou je elke week opnieuw je hoofd breken over wat we zullen eten? Stel eenvoudig menu's samen met je recepten en hergebruik ze. (Je huisgenoten zullen het nooit te weten komen.)</p>
			</div>
		</div>
		<div class="col-sm-4">
			<a href="{{ asset('images/screenshots/Menu02.png') }}" data-lightbox="menu's" data-title="De boodschappenlijst voor een hele week is zo gemaakt">
				<img src="{{ asset('images/screenshots/Menu02.png') }}" style="width:250px" class="img-thumbnail"/>
			</a>
			<div class="caption">
				<h3>1, 2 ... klaar!</h3>
				<p>Een menu voeg je met één klik toe aan je boodschappenlijst. Zo heb je letterlijk in enkele seconden je boodschappenlijst klaar.</p>
			</div>
		</div>
		<div class="col-sm-4">
			<a href="{{ asset('images/screenshots/Menu03.png') }}" data-lightbox="menu's" data-title="Bekijk en beheer de planning op de ingebouwde kalender">
				<img src="{{ asset('images/screenshots/Menu03.png') }}" style="width:250px" class="img-thumbnail"/>
			</a>
			<div class="caption">
				<h3>Kalender</h3>
				<p><span class="logo">Mealplanner</span> zet de gekozen recepten automatisch in een kalender. Je kan kiezen tussen week-, maand-, of agendaview. Verschuif de recepten als je wijzigingen wil aanbrengen. Pas eenvoudig de begindatum van de planning aan. Verwijder recepten die je dit keer niet wil maken en vervang ze door andere.</p>
			</div>
		</div>
	</div> <!-- end of row 1 -->	
	
</div> <!-- end of container Menu's -->

<div class="container-fluid bg-grey text-center">
  <h1 class="margin">Boodschappenlijst</h1>

	<div class="row">
		<div class="col-sm-4">
			<a href="{{ asset('images/screenshots/Kookboek04.png') }}" data-lightbox="boodschappenlijst" data-title="Ingrediënten komen vanzelf in de juiste afdeling terecht">
				<img src="{{ asset('images/screenshots/Kookboek04.png') }}" style="width:250px" class="img-thumbnail"/>
			</a>
			<div class="caption">
				<h3>Een zorg minder</h3>
				<p>Je boodschappenlijst groepeert de ingrediënten volgens afdeling: conserven, groenten en fruit, vlees, zuivel... Maar daar hoef jij je geen zorgen over te maken, want wanneer je een recept toevoegt, zet <span class="logo">Mealplanner</span> de ingrediënten ervan automatisch in de juiste afdeling. Niet toegewezen ingrediënten kan je in je boodschappenlijst nog in de juiste afdeling plaatsen.</p>
			</div>
		</div>
		<div class="col-sm-4">
			<a href="{{ asset('images/screenshots/Boodschappenlijst.png') }}" data-lightbox="boodschappenlijst" data-title="Boodschappenlijst">
				<img src="{{ asset('images/screenshots/Boodschappenlijst.png') }}" style="width:250px" class="img-thumbnail"/>
			</a>
			<div class="caption">
				<h3>Afdrukken en vertrekken</h3>
				<p>Zodra je een recept of een menu hebt toegevoegd staat je boodschappenlijst klaar, gerangschikt volgens afdeling. Gelijkaardige ingrediënten worden automatisch samengevoegd. Nu nog afdrukken en je kan je inkopen doen.</p>
			</div>
		</div>
		<div class="col-sm-4">
			<a href="{{ asset('images/screenshots/BL_iphone6.png') }}" data-lightbox="boodschappenlijst" data-title="Neem je boodschappenlijst mee op je smartphone">
				<img src="{{ asset('images/screenshots/BL_iphone6.png') }}" style="height:166px" class=""/>
			</a>
			<div class="caption">
				<h3>In the pocket</h3>
				<p>Vind je een boodschappenlijst op papier maar <em>old school</em>, dan log je gewoon in op <span class="logo">MealPlanner</span> met je smartphone en je hebt je shopping list altijd mee op zak. Zei iemand het woord <em>responsive</em>&nbsp;?</p>
			</div>
		</div>		
	</div> <!-- end of row 1 -->

	<div class="row">
		<div class="col-sm-4">
			<a href="{{ asset('images/screenshots/Boodschappenlijst02.png') }}" data-lightbox="boodschappenlijst" data-title="De boodschappenlijst kan makkelijk aangepast worden">
				<img src="{{ asset('images/screenshots/Boodschappenlijst02.png') }}" style="width:250px" class="img-thumbnail"/>
			</a>
			<div class="caption">
				<h3>Volledig aanpasbaar</h3>
				<p>Wijzig de afdeling van een ingrediënt (<span class="logo">Mealplanner</span> onthoudt je keuze voor de volgende keer). Voeg items toe aan je boodschappenlijst. Vink ingrediënten die je nog in huis hebt af. Pas het aantal porties voor ieder gerecht aan.</p>
			</div>
		</div>	
		<div class="col-sm-4">
			<a href="{{ asset('images/screenshots/Boodschappenlijst04.png') }}" data-lightbox="boodschappenlijst" data-title="Stem je boodschappenlijst af op de supermarkt waar je winkelt">
				<img src="{{ asset('images/screenshots/Boodschappenlijst04.png') }}" style="width:250px" class="img-thumbnail"/>
			</a>
			<div class="caption">
				<h3>Boodschappen à la carte</h3>
				<p>Afdelingen kan je in een bepaalde volgorde zetten, zodat je boodschappenlijst helemaal is afgestemd op de supermarkt waar je je boodschappen doet. Zo sta je sneller aan de kassa.</p>
			</div>
		</div>	
		<div class="col-sm-4">
			<a href="{{ asset('images/screenshots/Boodschappenlijst03.png') }}" data-lightbox="boodschappenlijst" data-title="Deel je boodschappenlijst met je huisgenoten">
				<img src="{{ asset('images/screenshots/Boodschappenlijst03.png') }}" style="width:250px" class="img-thumbnail"/>
			</a>
			<div class="caption">
				<h3>Delen</h3>
				<p>Stuur je boodschappenlijst per e-mail naar je huisgenoten zodat <em>zij</em> de boodschappen kunnen doen. Jij hebt het lijstje al gemaakt, toch? Of print de planning af en hang ze op op een zichtbare plaats. Zo is iedereen op de hoogte.</p>
			</div>
		</div>

	</div> <!-- end of row 2 -->

</div> <!-- end of container Boodschappenlijst -->

<div class="container-fluid">
	<div class="row text-center">
  		<h1>Probeer het uit!</h1>
  		<p>Maak een gratis account aan</p>
		<a href="{{ path('registreer') }}" class="btn btn-default">Registreer</a>
	</div>
</div>

<!-- myModal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
	<div class="modal-content" id="myModalContent">
	  <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title">Ondersteunde sites</h3>
      </div>
      <div class="modal-body">
        {% include('support/support01-02.html.twig') %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Sluit</button>
      </div>
	</div>
  </div>
</div>
<!-- end Modal -->

{{ render(controller('AppBundle:Navigation:footer')) }}
	
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/lightbox.js') }}"></script>
<script>
    lightbox.option({
      'maxWidth': 700
    })
    // Show collapsed content
    $('.collapse').addClass('in');
</script>
{% endblock %}