{% extends 'base.html.twig' %}

{%block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/index.css') }}">
<link rel="stylesheet" href="{{ asset('css/lightbox.css') }}">
<style>
	.jumbotron {
    position: relative;
    background: #000 url("/images/pexels-photo-128402-2.jpeg") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
	}

	.jumbotext{
		background: rgba(255, 255, 255, 0.75);
		padding: 30px;
	}

	.tekst-groot {
		font-size: 1.25em;
	}
	
	.margin {margin-bottom: 45px;}
	
</style>
{% endblock %}


{% block body %}
{{ render(controller('AppBundle:Navigation:menu')) }}

<div class="jumbotron">
<div class="jumbotext">
  <div class="row">
  	<div class="col-sm-8 col-sm-offset-2">
  	  <h1>Mealplanner<br><small>Maak het je gemakkelijk</small></h1> 
	  <p>Mealplanner is een online maaltijdplanner waarmee je:</p>
	  <ul>
	  <li>al je recepten kan bewaren in een online kookboek</li>
	  <li>met die recepten menu's kan samenstellen die je later kan hergebruiken</li>
	  <li>in een handomdraai je boodschappenlijst kan aanmaken, of het nu voor één dag is of voor een hele week</li>
	  </ul>
	  <p>Zo spendeer je minder tijd aan boodschappen doen, koop je geen overbodige zaken (en bespaar je dus geld), en hou je meer tijd over om te koken en samen met je familie van het eten te genieten.</p>
	</div>
  </div>
</div>
</div>

<div class="container-fluid">
	<div class="row text-center">
		<div class="col-sm-4 ">
			<h1>1.</h1>
			<h3>Van recept...</h3>
			<img src="/images/screenshots/Kookboek.png" class="img-responsive" width="350" style="display:inline; margin-bottom:20px;" alt="">
			<div class="caption">
			<p class="tekst-groot">Verzamel al je recepten in je online Kookboek</p>
			</div>
		</div>
		<div class="col-sm-4">
			<h1>2.</h1>
			<h3>naar menu...</h3>
			<img src="/images/screenshots/Menu.png" class="img-responsive" width="350" style="display:inline; margin-bottom:20px;" alt="">
			<div class="caption">
			<p class="tekst-groot">Stel herbruikbare menu's samen met je recepten. Mealplanner zet ze voor jou op de planning.</p>
			</div>
		</div>
		<div class="col-sm-4">
			<h1>3.</h1>
			<h3>naar boodschappenlijst</h3>
			<img src="/images/screenshots/Boodschappenlijst.png" class="img-responsive" width="350" style="display:inline; margin-bottom:20px;" alt="">
			<div class="caption">
			<p class="tekst-groot">Genereer je boodschappenlijst met één klik</p>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid bg-grey text-center">
	<h2 class="margin">Kookboek</h2>
	
	<div class="row">
		<div class="col-sm-4">
			<a href="/images/screenshots/Kookboek01.png" data-lightbox="screenshots" data-title="Beheer al je recepten op één centrale plaats">
				<img src="/images/screenshots/Kookboek01.png" style="width:250px" class="img-thumbnail"/>
			</a>
			<div class="caption">
				<h4>Alles op één plaats</h4>
				<p>Vaarwel aantekeningen in kookboeken, kopietjes van recepten en links naar websites in je favorieten; voortaan beheer je al je recepten netjes op één plaats. Bekijk ze als tegels of in lijstview.</p>
			</div>
		</div>
		<div class="col-sm-4">
			<a href="/images/screenshots/Kookboek02.png" data-lightbox="screenshots" data-title="Uitgebreide zoekmogelijkheden">
				<img src="/images/screenshots/Kookboek02.png" style="width:250px" class="img-thumbnail"/>
			</a>
			<div class="caption">
				<h4>Wie zoekt...</h4>
				<p>Vind de recepten die je zoekt op titel, soort gerecht, type keuken, hoofdingrediënt, bereidingstijd of allemaal samen. Ook handig als je nog iets over hebt: zoek wat je allemaal nog kan maken met een bepaald ingrediënt.</p>
			</div>
		</div>
		<div class="col-sm-4">
			<a href="/images/screenshots/Kookboek03.png" data-lightbox="screenshots" data-title="Makkelijk ingrediënten toevoegen">
				<img src="/images/screenshots/Kookboek03.png" style="width:250px" class="img-thumbnail"/>
			</a>
			<div class="caption">
				<h4>Bulkinvoer</h4>
				<p>Ingrediënten toevoegen kon niet eenvoudiger zijn. Tik ze gewoon in in het veld bulkinvoer of kopieer en plak er bestaande lijstjes in. Mealplanner onderscheidt hoeveelheden en eenheden van ingrediënten en voegt ze één voor één toe.</p>
			</div>
		</div>
	</div> <!-- end of row 1 -->
	
	<div class="row">
		<div class="col-sm-4">
			<a href="/images/screenshots/Kookboek04.png" data-lightbox="screenshots" data-title="Ingrediënten komen vanzelf in de juiste afdeling terecht">
				<img src="/images/screenshots/Kookboek04.png" style="width:250px" class="img-thumbnail"/>
			</a>
			<div class="caption">
				<h4>Afdeling</h4>
				<p>Wanneer je een recept toevoegt, zet Mealplanner de ingrediënten van een recept automatisch in de juiste afdeling: conserven, groenten en fruit, vlees, zuivel... Niet toegewezen ingrediënten kan je in je boodschappenlijst nog in de juiste afdeling plaatsen.</p>
			</div>
		</div>
		<div class="col-sm-4">
			<a href="/images/screenshots/Kookboek05.png" data-lightbox="screenshots" data-title="Ingrediënten schalen">
				<img src="/images/screenshots/Kookboek05.png" style="width:250px" class="img-thumbnail"/>
			</a>
			<div class="caption">
				<h4 >Schalen</h4>
				<p>Schaal de ingrediënten volgens het aantal personen.</p>
			</div>
		</div>
		<div class="col-sm-4">
			<a href="/images/screenshots/Kookboek06.png" data-lightbox="screenshots" data-title="Voeg individuele recepten toe aan je boodschappenlijst">
				<img src="/images/screenshots/Kookboek06.png" style="width:250px" class="img-thumbnail"/>
			</a>
			<div class="caption">
				<h4>Toevoegen</h4>
				<p>Recepten kan je rechtstreeks vanuit je kookboek toevoegen aan je boodschappenlijst.</p>
			</div>
		</div>
	</div> <!-- end of row 2 -->
	
</div> <!-- end of container Kookboek -->

<div class="container-fluid text-center">
  <h2 class="margin">Menu's</h2>

	<div class="row">
		<div class="col-sm-4">
			<a href="/images/screenshots/Menu.png" data-lightbox="screenshots" data-title="Stel menu's samen die je kan hergebruiken">
				<img src="/images/screenshots/Menu.png" style="width:250px" class="img-thumbnail"/>
			</a>
			<div class="caption">
				<h4>Recycleren is in</h4>
				<p>Waarom zou je elke week opnieuw je hoofd breken over wat we zullen eten? Stel eenvoudig menu's samen met je recepten en hergebruik ze. (Je huisgenoten zullen het nooit te weten komen.)</p>
			</div>
		</div>
		<div class="col-sm-4">
			<a href="/images/screenshots/Menu02.png" data-lightbox="screenshots" data-title="De boodschappenlijst voor een hele week is zo gemaakt">
				<img src="/images/screenshots/Menu02.png" style="width:250px" class="img-thumbnail"/>
			</a>
			<div class="caption">
				<h4>1, 2 ... klaar!</h4>
				<p>Een menu voeg je met één klik toe aan je boodschappenlijst. Zo heb je letterlijk in enkele seconden je boodschappenlijst klaar.</p>
			</div>
		</div>
		<div class="col-sm-4">
			<a href="/images/screenshots/Menu03.png" data-lightbox="screenshots" data-title="Bekijk en beheer de planning op de ingebouwde kalender">
				<img src="/images/screenshots/Menu03.png" style="width:250px" class="img-thumbnail"/>
			</a>
			<div class="caption">
				<h4>Kalender</h4>
				<p>Mealplanner zet de gekozen recepten automatisch in een kalender. Je kan kiezen tussen week-, maand-, of agendaview. Verschuif de recepten als je wijzigingen wil aanbrengen. Pas eenvoudig de begindatum van de planning aan. Verwijder recepten die je dit keer niet wil maken en vervang ze door andere.</p>
			</div>
		</div>
	</div> <!-- end of row 1 -->	
	
</div> <!-- end of container Menu's -->

<div class="container-fluid bg-grey text-center">
  <h2 class="margin">Boodschappenlijst</h2>

	<div class="row">
		<div class="col-sm-4">
			<a href="/images/screenshots/Boodschappenlijst.png" data-lightbox="screenshots" data-title="Booschappenlijst">
				<img src="/images/screenshots/Boodschappenlijst.png" style="width:250px" class="img-thumbnail"/>
			</a>
			<div class="caption">
				<h4>Afdrukken en vertrekken</h4>
				<p>Zodra je een recept of een menu hebt toegevoegd staat je boodschappenlijst klaar, gerangschikt volgens afdeling. Gelijkaardige ingrediënten worden automatisch samengevoegd. Nu nog afdrukken en je kan je inkopen doen.</p>
			</div>
		</div>
		<div class="col-sm-4">
			<a href="/images/screenshots/Boodschappenlijst02.png" data-lightbox="screenshots" data-title="De boodschappenlijst kan makkelijk aangepast worden">
				<img src="/images/screenshots/Boodschappenlijst02.png" style="width:250px" class="img-thumbnail"/>
			</a>
			<div class="caption">
				<h4>Volledig aanpasbaar</h4>
				<p>Wijzig de afdeling van een ingrediënt (Mealplanner onthoudt je keuze voor de volgende keer). Voeg items toe aan je boodschappenlijst. Vink ingrediënten die je nog in huis hebt af. Pas het aantal porties voor ieder gerecht aan.</p>
			</div>
		</div>
		<div class="col-sm-4">
			<a href="/images/screenshots/Boodschappenlijst03.png" data-lightbox="screenshots" data-title="Deel je boodschappenlijst met je huisgenoten">
				<img src="/images/screenshots/Boodschappenlijst03.png" style="width:250px" class="img-thumbnail"/>
			</a>
			<div class="caption">
				<h4>Delen</h4>
				<p>Stuur je boodschappenlijst per e-mail naar je huisgenoten zodat <em>zij</em> de boodschappen kunnen doen. Jij hebt het lijstje al gemaakt, toch? Of print de planning af en hang ze op op een zichtbare plaats. Zo is iedereen op de hoogte.</p>
			</div>
		</div>
	</div> <!-- end of row 1 -->

	<div class="row">
		<div class="col-sm-4">
			<a href="/images/screenshots/Boodschappenlijst04.png" data-lightbox="screenshots" data-title="Stem je boodschappenlijst af op de supermarkt waar je winkelt">
				<img src="/images/screenshots/Boodschappenlijst04.png" style="width:250px" class="img-thumbnail"/>
			</a>
			<div class="caption">
				<h4>Boodschappen à la carte</h4>
				<p>Afdelingen kan je in een bepaalde volgorde zetten, zodat je boodschappenlijst helemaal is afgestemd op de supermarkt waar je je boodschappen doet. Zo sta je sneller aan de kassa.</p>
			</div>
		</div>
		<div class="col-sm-4">
			<a href="/images/screenshots/Boodschappenlijst05.png" data-lightbox="screenshots" data-title="Exporteer je boodschappenlijst als pdf of csv">
				<img src="/images/screenshots/Boodschappenlijst05.png" style="width:250px" class="img-thumbnail"/>
			</a>
			<div class="caption">
				<h4>Exporteer</h4>
				<p>Maak een PDF of een CSV van je boodschappenlijst.</p>
			</div>
		</div>
		<div class="col-sm-4">

		</div>
	</div> <!-- end of row 2 -->

</div> <!-- end of container Boodschappenlijst -->

<div class="container-fluid">
	<div class="row text-center">
  		<h2>Probeer het uit!</h2>
  		<p>Maak een gratis account aan</p>
		<a href="{{ path('registreer') }}" class="btn btn-default">Registreer</a>
	</div>
</div>

{{ render(controller('AppBundle:Navigation:footer')) }}
	
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/lightbox.js') }}"></script>
<script>
    lightbox.option({
      'maxWidth': 700
    })
</script>
{% endblock %}