{% extends 'base.html.twig' %}

{% block stylesheets %}
<style>
	.col-left {
	    font-weight: 500;
	    padding-right: 20px;
	    text-align: right;
	    white-space: nowrap;
	    vertical-align: top;
	}
	table td {
		padding-bottom: 10px;
	}
</style>
{% endblock %}

{% block body %}
{{ render(controller('AppBundle:Navigation:menu')) }}

<div class="container" style="margin-top:75px;">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-2">
			<h1>Profiel</h1>
			<table>
				<thead>
					<tr>
						<td></td>
						<td></td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="col-left">Gebruikersnaam:</td><td>{{ user.username }}</td>
					</tr>
					<tr>
						<td class="col-left">E-mail:</td><td>{{ user.email }}</td>
					</tr>
					<tr>
						<td class="col-left">Aantal recepten:</td><td>{{ user.recepten|length }}</td>
					</tr>
					<tr>
						<td class="col-left">Aantal menu's:</td><td>{{ user.menus|length }}</td>
					</tr>
					<tr>
						<td class="col-left">Lid sinds:</td><td>{{ user.registratiedatum|date('d/m/Y') }}</td>
					</tr>
					<tr>
						<td class="col-left">Accounttype:</td>
						<td>
							{{ user.account }}
							{% if user.account is same as('FREE') %}
								&nbsp;&nbsp;<a type="button" class="btn btn-default btn-xs" href="{{ path('upgrade') }}" id="upgrade-btn" data-toggle="modal" data-target="#myModal">Upgrade naar Premium</a>
							{% endif %}
						</td>
					</tr>
					<tr>
						<td class="col-left">Tags:</td>
						<td>
							{% for tag in user.tags %} 
							<span class="label label-primary">{{ tag.name }}</span>
							{% endfor %}
							<br><br>
							<p><a href="{{ path('edittags') }}">Pas aan...</a></p>
						</td>
					</tr>																				
				</tbody>
			</table>
		</div>
	</div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content" id="myModalContent">
    </div>

  </div>
</div>
<!-- end Modal -->

{{ render(controller('AppBundle:Navigation:footer')) }}

{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('js/upgrade.js') }}"></script>
{% endblock %}