{% extends 'base.html.twig' %}

{% block body %}
{{ render(controller('AppBundle:Navigation:menu')) }}

<div class="container" style="margin-top:75px;">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-2">

		<h1>Profiel</h1>
		<p>Gebruikersnaam: {{ user.username }}</p>
		<p>E-mail: {{ user.email }}</p>
		<p>Aantal recepten: {{ user.getrecepten|length }}</p>
		<p>Aantal menu's: {{ user.getmenus|length }}</p>
		</div>
	</div>
</div>

{% endblock %}